lenguajedemarcas/0373-ae010/gestio-esdeveniments/esdeveniments.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="esdeveniments">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="esdeveniment" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="nom" type="xs:string"/>
              <xs:element name="data" type="xs:date"/>
              <xs:element name="lloc" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>